# =============================
# Python
# =============================
__pycache__/
*.pyc
*.pyo
*.pyd

# =============================
# Virtual Environment
# =============================
env/
venv/
clip_project/

# =============================
# Pycharm / IDE
# =============================
.idea/
.vscode/

# =============================
# Dataset（绝对不要上传）
# =============================
data/images/
data/*.txt

# =============================
# Checkpoints（模型权重）
# =============================
checkpoints/
*.pth
*.pt

# =============================
# Logs
# =============================
*.log

# =============================
# OS files
# =============================
.DS_Store
Thumbs.db